.idea/

predictor/*.pyc

heartbeat/message.pb.go
heartbeat/hb.pb.go
heartbeat/hb_pb2.py
heartbeat/message_pb2.py

predictor/__pycache__/
predictor/**/__pycache__/

obi-dataproc-sa.json

.DS_Store
assets/.DS_Store

obi-dataproc-sa.json

master/*.pb.go
master/main

client/master_rpc_service_pb2.py
client/master_rpc_service_pb2_grpc.py
client/__pycache__/

master/heartbeat/message.pb.go
master/heartbeat/message_pb2.py
