.App {
  text-align: center;
}

.App-header {

}

.App-body {

}

.App-footer {

}

.App-link {

}

.OBI-brand {
  display: flex;
  align-items: center;
}

.OBI-logo>img {
  padding: 7px 14px;
}

/* BEGIN ClusterItem */

.ClusterItem-name {

}

.ClusterItem-cost {

}

/* END ClusterItem */

/* BEGIN JobItem */

.JobItem-id {

}

.JobItem-status {

}

.JobItem-user {

}

.JobItem-executablepath {

}

.JobItem-link {

}

/* END JobItem */